* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #d5dae5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 3;
  height: 44px;
  background-color: #fff;
}

/* logo in header(mobile version) and side-nav (tablet & desktop) */
.logo {
  height: 44px;
  padding: 0px;
  font-weight: 700;
}

.header .logo {
  color: #233245;
}

.header .logo a img:nth-child(1) {
  display: none;
}

.side-nav .logo {
  background-color: #233245;
}

.header .logo {
  float: left;
}

.header .logo {
  height: 44px;
  z-index: 1;
  padding: 0px;
}

/* side navigation styles */
.side-nav {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgb(6, 21, 48);
  z-index: 1;
  display: none;
}

.side-nav.visible {
  display: block;
}

.side-nav ul {
  margin: 0;
  padding: 0;
}

.side-nav ul li {
  padding: 16px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  position: relative;
}

.side-nav ul li:nth-child(1) {
  border-top: 1px solid rgba(255, 255, 255, .2);
}

.side-nav ul li.active:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}

.side-nav ul li a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.side-nav ul li i {
  color: #33CCB2;
  min-width: 20px;
  text-align: center;
}

.side-nav ul li span:nth-child(2) {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
}

/* main content styles */
.main-content {
  padding: 40px;
  margin-top: 0;
  padding: 0;
  padding-top: 44px;
  height: 100%;
  overflow: scroll;
}

.main-content .title {
  background-color: #eef1f7;
  border-bottom: 1px solid #b8bec9;
  padding: 10px 20px;
  font-weight: 700;
  color: #333;
  font-size: 18px;
}

/* main container */
.main.container {
  padding-top: 24px;
}

/* cards styles */
.card {
  margin-top: 12px;
  margin-bottom: 12px;
}

.ad-card {
  color: #153D82;
  font-weight: bold;
  background-color: rgb(238, 238, 238);
  text-align: center;
}

.btn-add-pet {
  height: 40px;
}

.pet-img {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}

.pet-img img {
  width: auto;
  height: 100%;
}

.pet-img-larger {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
}

.pet-img-larger img {
  width: auto;
  height: 100%;
}

.pet-name {
  color: #153D82;
}

.attendance-status {
  color: green;
}

.caret-off {
  background-color: transparent !important;
  border-color: rgb(238, 238, 238) !important;
  height: 40px;
  width: 40px;
}

.caret-off i {
  color: rgb(145, 145, 145);
}

.caret-off::before {
  display: none !important;
}

.caret-off::after {
  display: none !important;
}

.preview-details-wrapper {
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 12px;
  text-align: left;
}

.preview-details-title {
  font-size: 14px;
  font-weight: bold;
  color: rgb(105, 105, 105);
}

.preview-details-subtitle {
  font-size: 16px;
  font-weight: bold;
}

.preview-details-text {
  font-size: 15px;
  padding-bottom: 0px;
}

/* set element styles to fit tablet and higher(desktop) */
@media screen and (min-width: 600px) {
  .header {
    background-color: white;
    z-index: 1;
  }

  .header .logo {
    display: none;
  }

  .side-nav {
    display: block;
    width: 70px;
    z-index: 2;
  }

  .side-nav ul li span:nth-child(2) {
    display: none;
  }

  .side-nav .logo a img:nth-child(2) {
    display: none;
  }

  .side-nav ul li i {
    font-size: 26px;
  }

  .side-nav ul li a {
    text-align: center;
  }

  .main-content {
    margin-left: 70px;
  }

  /* columns */
  .main-content .main .row {
    width: 100%;
    margin-left: 0px;
    margin-left: 0px;
  }

  .main-column {
    color: #153D82;
  }

  .main-column h3 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

}

/* set element styles for desktop */
@media screen and (min-width: 800px) {
  .side-nav {
    width: 200px;
  }

  .side-nav ul li span:nth-child(2) {
    display: inline-block;
  }

  .side-nav ul li i {
    font-size: 16px;
  }

  .side-nav ul li a {
    text-align: left;
  }

  .side-nav .logo a img:nth-child(1) {
    display: none;
  }

  .side-nav .logo a img:nth-child(2) {
    display: inline;
  }

  .main-content {
    margin-left: 200px;
  }
}

/* main box container */
.main {
  display: flex;
  flex-flow: row wrap;
}

/* side column */
.side-column {
  position: fixed;
}