.navbar {
  background-color:whitesmoke;
}

.navbar .brand-navbar img:hover {
  opacity: 0.7;
}

.navbar ul {
  padding: 0px 30px 0px 0px;
}

.dropdown-menu .dropdown-menu li > a:hover,
.dropdown-menu .dropdown-menu li > a:focus {
  background-color: #5cb85c;
 
}

.opacity{
  opacity:0.5; 
}

/**login
.mainbox{
  margin-top:50px;
}
.forgot-pass{
  float:right; 
  font-size: 80%;
   position: relative;
    top:-10px
}**/

/*listas de menus(opciones)*/
.navbar ul li a {
  color: black;
  margin: 10px 0px 0px 10px;
  text-transform: uppercase;
  font-size: 12px;
}
.navbar ul li a .fas {
  padding-right: 5px;
  padding-left: 5px;
}

.navbar ul li a:hover {
  color: #55b395;
}


.navbar ul li.active>a {
  color: #52d0a8;
  font-weight: bold;
  font-size: 12px;
  border-left: 3px solid #55b395;
  border-radius: 40px;
}
/*color del icono del menu*/
.iconStyle {
  color: #3066bb;
}

/**Slider**/

header .carousel-inner .item {
  height: 100vh;
}

.carousel-caption {
  padding-bottom: 130px;
}

.carousel-caption h1 {
  font-size: 70px;
  font-weight: 1000;
  text-shadow: 3px 3px #3247bb;
  ;
  text-transform: uppercase;
  animation-delay: 1s;
  animation-duration: 2s;
}

.carousel-caption p {
  animation-delay: 1s;
}

.carousel-caption .btn {
  animation-delay: 1s;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  margin-top: 20px;
  animation-duration: 2s;
}

.carousel-control-prev {
  width: 48px;
  height: 48px;
  top: auto;
  bottom: 0;
  font-size: 2rem;
}

.carousel-control-next {
  width: 48px;
  height: 48px;
  top: auto;
  bottom: 0;
  font-size: 2rem;
}

/**end Slider**/

/* @media only screen and (max-width:480px) {
  .carousel-caption {
    padding-bottom: 20px;
  }

  .carousel-caption h1 {
    font-size: 20px;
    font-weight: 1000;
    text-shadow: 3px 3px #15b000;
    ;
    text-transform: uppercase;
    animation-delay: 1s;
    animation-duration: 2s;
  }

  .carousel-caption p {
    animation-delay: 1s;
    font-size: 10px;
  }

  .carousel-caption .btn {
    animation-delay: 1s;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 5px;
    animation-duration: 2s;
    padding: 5px;
    font-size: 10px;
  }
} */

/*Hero Vet*/
header .hero-vet{
  background-image: url(../img/hero-vet.jpg);
  background-color: #52d0a8;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  /* min-height: 600px; */
}
.hero-vet h1 {
  color: #2b2e7d;
  font-size: 5rem;
}
.hero-vet .buttons {
  padding: auto;
}
/******************************** NEWS SECCION **************************************/

/************************ FOOTER *******************************/
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #3eac92;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background:  #3eac92 60% !important;
}
#footer h5{
padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color:#ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
font-size:25px;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.social li:hover a i {
font-size:30px;
margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
color:#ffffff;
}
#footer ul.social li a:hover{
color:#eeeeee;
}
#footer ul.quick-links li{
padding: 3px 0;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.quick-links li:hover{
padding: 3px 0;
margin-left:5px;
font-weight:700;
}
#footer ul.quick-links li a i{
margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width:767px){
#footer h5 {
  padding-left: 0;
  border-left: transparent;
  padding-bottom: 0px;
  margin-bottom: 10px;
}