<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VestFriend</title>
  <link rel="stylesheet" href="../views/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../views/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <link rel="stylesheet" href="../views/bootstrap/css/main.css">
</head>

<body>
  <header>
    <div class="header-navbar">
      <nav class="navbar navbar-expand-lg navStyle">
        <a class="brand-navbar" href="#"><img src="../views/img/vestFriend.png" alt="Responsive image"
            height="60px"></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#mainMenu">
          <span><i class="fas fa-align-right iconStyle"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
          <ul class="navbar-nav ml-auto navList">
            <li class="nav-item active"><a href="#" class="nav-link"><i class="fas fa-home"></i>HOME<span class="sr-only">(current)</span></a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><i class="fas fa-cogs"></i>Features</a>
              <ul class="dropdown-menu opacity" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="owners.html">Owner</a></li>
                <li><a class="dropdown-item" href="#ehr">Health Records (EHR)</a></li>
                <li><a class="dropdown-item" href="#">Scheduling and resource management</a></li>
                <li><a class="dropdown-item" href="#">Management report</a></li>
                <li><a class="dropdown-item" href="#">Conectivity and comunication protcols</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#pricing" class="nav-link"><i class="fas fa-briefcase"></i>Pricing</a>
            </li>
            <li class="nav-item">
              <a href="#" target="_blank" class="nav-link"><i class="fas fa-th"></i>Blog</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link"><i class="fas fa-users"></i>About us</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link" data-toggle="modal" data-target="#exampleModal"><i
                  class="fas fa-sign-in-alt"></i></i>Login</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!--Heroe Vet-->
    <section class="hero-vet">
      <h1>La mejor forma de administrar tu consultorio</h1>
      <div class="buttons d-flex justify-content-center">
        <button type="button" class="btn btn-primary badge-pill btn-lg mx-2">Start a Free Trial</button>
        <button type="button" class="btn btn-outline-success badge-pill btn-lg mx-2">Book a Demo</button>
      </div>
    </section>
    <!-- Modal del login -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <!--<div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>-->
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <main>
    <section class="advantages"> 
    <a name="ehr"></a>
      <h2>Que ventajes tiene usar VetsFriend</h2>
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <img src="..." alt="..." class="card-img-top">
            <div class="card-body">
              <h3 class="card-title">Ventaja 1</h3>
              <p class="card-text">Esta es la informacion relevante</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img src="..." alt="..." class="card-img-top">
            <div class="card-body">
              <h3 class="card-title">Ventaja 2</h3>
              <p class="card-text">Esta es la informacion relevante</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img src="..." alt="..." class="card-img-top">
            <div class="card-body">
              <h3 class="card-title">Ventaja 3</h3>
              <p class="card-text">Esta es la informacion relevante</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="partners">
      <h2>Nuestros Aliados</h2>
    </section>
    
    <section class="testimonials">
      <h2>Testimonios</h2>
    </section>

    <section class="video">Posible mockup de video 
      <video src=""></video>
    </section>
    <section class="pricing"> <a name="pricing"></a>
      <h2>Nuestros productos</h2>
    </section>
    <section class="technologies">
      <h2>Technologies</h2>
    </section>
  </main>
  <footer>
    <section class="story">
      <h3>nuestra historia</h3>
    </section>
    <section class="info">
      <ul>
        <li>Q&A</li>
        <li>Work with Us</li>
        <li>Terms and Conditions</li>
        <li>Cookies</li>
      </ul>
    </section>
    <section class="social-media">
      <ul>
        <li class="facebook">facebook</li>
        <li class="instagram">instagram</li>
        <li class="twitter">twitter</li>
      </ul>
    </section>
    <section class="sitemap">sitemap</section>
    <section class="rights-res">
      &reg;2019-Todos los derechos reservados a VetsFriend
    </section>
  </footer>
  <script type="text/javascript" src="../views/bootstrap/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../views/bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript" src="../views/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>